
@import "variables.css";

.publicacion {
    width: 100%;
    margin-bottom: 30px;
    max-width: 2000px;
    
}

.content-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.info-user {
    display: flex;
    gap: 15px;
    align-items: center;
}
.logo-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.logo-user img {
   height: 100%;
   width: 100%;
}

.contenedor-img-publicacion {
    height: 150px;
}
.contenedor-img-publicacion img {
    height: 100%;
    width: 100%;
}

.texto-publicacion {
    position: relative;
    height: 90px;
    overflow: hidden;
}


.content-boton{
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
/* .content-boton button {
    width: 80px;
    height: 25px;
    background-color: var(--color-principal);
    border: none;
    border-radius: 10px;    
} */


.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 9px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }






   

@media screen and (min-width:650px){

    .logo-user{
        width: 75px;
        height: 75px;
    }


    .info-user {
        gap: 30px;
    }


    .info-user p {
        font-size: 30px;
    }


    .contenedor-estrellas i {
        font-size: 30px;
    }

    .contenedor-img-publicacion {
        height: 290px;
    }



    .texto-publicacion {
        height: 125px;
    }
    .texto-publicacion h3 {
        font-size: 25px;
    }
    .texto-publicacion p {
        font-size: 20px;
    }

    .btn {
       
        font-size: 15px;

       }

  }
  
  
  
  @media screen and (min-width:1020px){
    .contenedor-img-publicacion {
        height: 370px;
    }
  
  }
  
  @media screen and (min-width:1600px){
    .logo-user{
        width: 95px;
        height: 95px;
    }


    .info-user p {
        font-size: 45px;
    }


    .contenedor-estrellas i {
        font-size: 45px;
    }

    .contenedor-img-publicacion {
        height: 435px;
    }


    .texto-publicacion {
        height: 175px;
    }
    .texto-publicacion h3 {
        font-size: 35px;
    }
    .texto-publicacion p {
        font-size: 35px;
    }

    .btn {
       
        font-size: 20px;

       }
  }